DATABASE_URL="postgresql://magz:magz_password@localhost:5432/magz?schema=public"
AUTH_SECRET="replace-with-at-least-32-random-bytes"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

SEED_OWNER_EMAIL="owner@magz.dev"
SEED_OWNER_PASSWORD="ChangeMe123!"
SEED_OWNER_NAME="MAGZ Owner"
SEED_ORG_NAME="MAGZ Asia"
